<div class=mgr><div class=wrapper>
	<a class=mgr_i href="#">Kết thúc ngay</a>
	<a class=mgr_i href="#">Đồ nam</a>
	<a class=mgr_i href="#">Đồ nữ</a>
	<a class=mgr_i href="#">Đồ điện tử</a>
	<a class=mgr_i href="#">Gia đình</a>
	<a class=mgr_i href="#">Vườn</a>
	<a class=mgr_i href="#">Sức khỏe và sắc đẹp</a>
	<a class=mgr_i href="#">Công cụ</a>
</div></div>
<div class=infobar><div class=wrapper>
	<div class="baritems">
                            <div class="baritem">
                            <i class="fa fa-calendar-alt"></i>
                                Điều khoản hoàn trả 14 ngày</div>
                            <div class="baritem">
                            <i class="fa fa-shipping-fast"></i>
                                Phí giao hàng : 29.000 ₫</div>
                            <div class="baritem">
                            <i class="fa fa-phone-square"></i>
                                02836222111</div>
                        </div>
</div></div>