<div class=prd_item p_id={{product.id}}>
	<div class=prd_img>
		<img src="{{product.img}}">
	</div>
	<div class=prd_name>
		{{product.name}}
	</div>
	<div class=prd_price>
		<i class='fa fa-money-bill'></i> <span class="prd_c_price" p_id={{product.id}}>{{product.price}}</span>
	</div>
	<div class=prd_time>
		<i class='fa fa-clock'></i> <span class="prd_c_time prd_timecount" p_id={{product.id}}>00:00:00</span>
	</div>
	<div class=prd_btnb>
		<a class=prd_btn_daugia href="./product/{{product.id}}">
		Đấu giá
		</a>
	</div>
</div>