<div class="view_box">
<div class="product_view">
<h1 class="p_title">{{product.name}}</h1>
<div class="p_time">Ngày đăng : {{product.date}}</div>
<div class="prd_group">
<div class="prd_img">
	<img src="{{product.img}}">
</div>
<div class="prd_info">

<div class="prd_phiennumber_row">
Phiên đấu giá : <span class=prd_phiennumber p_id={{product.id}}>Loading...</span>
</div>


<div class="prd_price">
Giá tiền : <span class="prd_c_price" p_id={{product.id}}>{{product.min_price}}</span>
</div>


<div class="prd_viewcount">
Người tham gia : <span id=viewcount>1</span> người
</div>
<div class="prd_timerow">
Thời gian còn lại : <span class="prd_data prd_timecount" p_id={{product.id}} time=0 endtime=0>0</span>
</div>

</div>
</div>
<div class="prd_content">
{{product.html}}
</div>
</div>
</div>
<style type="text/css">
.product_view{
	padding: 10px;
}
	.prd_img,.prd_info{
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
	.prd_img{
		height: 300px;
	}
	.prd_img img{
		width: auto;
		height: 110%;
	}
</style>
<script type="text/javascript">
	var p_id='{{product.id}}';
	$(document).ready(function(){


$.post( "/api/product/getdaugia/"+p_id, {})
  .done(function( data ) {
    var jsdata=JSON.parse(data);
    console.log(data);
    if(jsdata.sys!="false")
    {
    if(jsdata[0].phien_doc.length>0){
$(".prd_phiennumber[p_id='"+jsdata[0].id+"']").html(jsdata[0].phien_doc[0].id);
$(".prd_c_price[p_id='"+jsdata[0].id+"']").html(jsdata[0].phien_doc[0].price);
$(".prd_data.prd_timecount[p_id='"+jsdata[0].id+"']").attr("time",jsdata[0].phien_doc[0].time);
$(".prd_data.prd_timecount[p_id='"+jsdata[0].id+"']").attr("endtime",jsdata[0].phien_doc[0].endtime);

    }
    }
  });









socket.on('connect', function (data) {
    socket.emit('view', { p_id: '{{product.id}}' });
});
socket.on('viewcount', function(dtx){
       $("#viewcount").html(dtx.count);
});

socket.on('updatephien', function(dtx){
       location.reload();
});


	});
</script>