<div>




Đăng nhập</div><div class="lg_row">Tên tài khoản:<br><input type="text" name="user" class="lg_inp"></div><div class="lg_row">Mật khẩu:<br><input type="password" name="pass" class="lg_inp"></div><div class="lg_row"><div class="lg_login btn">Đăng nhập</div></div>


</div>
<script type="text/javascript">
$(document).on("click",".lg_login",function(){
$.post( "api/user/login", { name: $(".lg_inp[name='user']").val(), pass: $(".lg_inp[name='pass']").val() })
  .done(function( data ) {
    var jsdata=JSON.parse(data);
    if(jsdata.sys=="false")
    {
        alert("Sai tên đăng nhập hoặc mật khẩu !");
    }
    else
    {
        location.reload();
    }
  });

});
</script>