<div class="view_box">
<div class="order_view">
<div class="order_content">
{{order.html}}
</div>
</div>
</div>
<style type="text/css">
.order_row{
	width: 100%;
	border:1px solid #b6b6b6;
	border-radius: 10px;
	margin-bottom: 10px;
}
.order_id{
    padding: 5px 10px;
}
.order_ir{
	padding: 5px 10px;
}
.order_p_row{}
.order_p_name,.order_p_price{
    width: 49.5%;
    display: inline-block;
    padding: 5px 10px;
}
.order_img,.order_name,.order_price,.order_read{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}
.order_read{
	cursor: pointer;
	color: #08c;
	display: none;
}
.order_img .prd_img{
	width: 100px;
	height: 100px;
}
</style>
<script type="text/javascript">
$(document).ready(function(){

$(document).on("click",".delete_ord",function(){
    var ord_id=$(this).attr("ord_id");
$.post( "/api/order/remove", {id:ord_id})
.done(function( data ) {
var jsdata=JSON.parse(data);
if(jsdata.sys=="false")
{
    alert("Không thể xóa");
}
else
{
    $(".order_row[ord_id='"+ord_id+"']").remove();
}
});

});

});
</script>